include mixins/message

doctype html
html(lang='en')
  head
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nanum+Myeongjo&display=swap" rel="stylesheet")
  body
    if messages.error 
      +message('error', messages.error)
    if messages.info 
      +message('info', messages.info)
    if messages.success 
      +message('success', messages.success)
    include partials/header
    main
     block content
    include partials/footer
  block scripts
  script(src="/static/js/main.js")
  script(src="https://kit.fontawesome.com/2f94b1a8a9.js" crossorigin="anonymous")