extends base

block content
  form(method='POST' style='width:400px; padding:50px 50px 30px;')
    label(for='username') Username
    input(name='username' type='text' required style='width:85%;') 
    label(for='password') Password
    input(name='password' type='password' required style='width:85%; ')
    input(type='submit', value='Login')
    include partials/social-login
  div.auth-switch
    span Don't have an account? 
    a(href='/join') Create one now &rarr;