div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;


//- pug를 이용해 HTML을 작성할 때 text를 바로 옆에 두려면
//- i.fab.fa-github
//-         |  Continue with Github &rarr; 이런식으로 써야한다
//- 아래와 같이 '|' 없이 작성할 경우 글자가 아이콘 안으로 들어감 
//- i.fab.fa-github Continue with Github &rarr;