extends ../base

block content 
  form(method='POST' style='width:400px; padding:50px 50px 30px;')
    label(for='oldPassword') Old Password
    input(name='oldPassword', type='password')
    label(for='newPassword') New Password
    input(name='newPassword', type='password', placeholder='8 to 15 characters') 
    label(for='newPassword2') Confirm password 
    input(name='newPassword2', type='password', placeholder='8 to 15 characters' style='margin-bottom:30px;')
    input(type='submit', value='Change')
